<div class="contenedor">
  <h1>Sign Up</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        name="nombre"
        type="email"
        matInput
        [ngClass]="emailFormControl"
        placeholder="Ex. pat@example.com"
        [(ngModel)]="usuario.email"
        required
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        [ngClass]="emailFormControl"
        placeholder="******"
        name="pass"
        [(ngModel)]="usuario.password"
        required
      />
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input
        type="text"
        matInput
        [ngClass]="emailFormControl"
        placeholder="First name..."
        name="first"
        [(ngModel)]="usuario.firstName"
        required
      />
      <mat-error *ngIf="emailFormControl.hasError('required')">
        FirstName is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input
        type="text"
        matInput
        [ngClass]="emailFormControl"
        placeholder="lastname..."
        name="last"
        [(ngModel)]="usuario.lastName"
        required
      />
      <mat-error *ngIf="emailFormControl.hasError('required')">
        LastName is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Phone</mat-label>
      <input
        type="number"
        matInput
        [ngClass]="emailFormControl"
        placeholder="phone..."
        name="Phone"
        [(ngModel)]="usuario.phone"
        required
      />
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Phone is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="example-button-row">
      <button
        mat-raised-button
        color="accent"
        (click)="enviarForm()"
      >
        SING UP
      </button>
    </div>
    <div class="example-link-row links">
      <a [routerLink]="['/login']">Login</a>
    </div>
  </form>
</div>
