<div class="body">
    <div class="login">
        <h1>Sign Up</h1>
        <mat-form-field class="ancho" >
            <mat-label>EMAIL</mat-label>
            <input type="email" placeholder="example@mail.com"matInput>
        </mat-form-field>
        <mat-form-field  class="ancho" appearance="fill">
            <mat-label>PASSWORD</mat-label>
            <input type="password" placeholder="******" matInput>
        </mat-form-field>
        <mat-form-field  class="ancho" appearance="fill">
            <mat-label>FIRST NAME</mat-label>
            <input type="text" placeholder="Jhon" matInput>
        </mat-form-field>
        <mat-form-field  class="ancho" appearance="fill">
            <mat-label>LAST NAME</mat-label>
            <input type="text" placeholder="Doe" matInput>
        </mat-form-field>
        <mat-form-field  class="ancho" appearance="fill">
            <mat-label>PHONE</mat-label>
            <input type="number" placeholder="934757520" matInput>
        </mat-form-field>
        <button class="ancho" mat-raised-button color="accent">SIGN UP</button>
        <br>
        <button mat-button color="accent">Login</button>


    </div>
    
</div>
