.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.contenedor {
  display: grid;
  place-content: center;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

button {
  width: 100%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}

.links a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #ff4886;
  font-weight: bold;
}

.label-run {
  background-color: #ff4886;
  border-color: #ff4886;
}
