<div class="nav">
  <div class="nav-item">
    <h2>{{"{ expensable }"}}</h2>
    <ul>
      <li
        *ngFor="let nav of menu" [ngClass]="active === nav.routePath ? 'item--active': ''"
        routerLink="{{nav.routePath}}"
      >
        <i class="{{nav.icon}}"></i>
        <a >{{nav.text}}</a>
      </li>
    </ul>
  </div>
  <div class="nav-footer">
    <p class="nav-item--info">{{ user.first_name }}</p>
    <p class="nav-item--email">{{ user.email }}</p>
    <p class="nav-item--logout" (click)="handleClickLogout()">Log out</p>
  </div>
</div>
