<div class="container">
  <h1>Categories</h1>
  <nav class="nav">
    <div class="nav-item">
      <div class="nav-icon"><i class="fa-solid fa-minus"></i></div>
      <p>Expenses</p>
    </div>
    <div class="nav-item">
      <div class="nav-icon"><i class="fa-solid fa-plus"></i></div>
      <p>Income</p>
    </div>
  </nav>

  <div class="header">
    <div class="carrusel">
      <div class="icon-header">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="text-header">
        <p>March 2022</p>
      </div>
      <div class="icon-header">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
    <div class="prise">
      <p class="precio">$ 1,250</p>
      <p>Total Expenses</p>
    </div>
  </div>

  <div class="button-cont">
    <div *ngFor="let transaction of transactions">
      <app-button
        [icon]="'fa-solid fa-building-columns'"
        [textSalario]="'Rent'"
        [amount]="transaction.amount"
        [color]="'#808080'"
        [categories]="categories"
      ></app-button>
    </div>
    <div class="add-button">
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
</div>
