<div class="transaction">
  <div class="titulo">
    <h2>Transaction</h2>
    <div class="icon-filter" (click)="handleClickIconFilter()">
      <i class="fa-solid fa-filter"></i>
    </div>
  </div>

  <div class="filters" *ngIf="isFilters">
    <h2>Category</h2>

    <div class="category-section">
      <label for="Independent">
        <input
          (click)="handleChangeInput($event)"
          type="checkbox"
          id="Independent"
          value="Independent"
          data-filter="category"
        />
        Independent
      </label>
      <label for="Salary">
        <input
          (click)="handleChangeInput($event)"
          type="checkbox"
          id="Salary"
          value="Salary"
          data-filter="category"
        />
        Salary
      </label>
      <label for="Transportation">
        <input
          (click)="handleChangeInput($event)"
          type="checkbox"
          id="Transportation"
          value="Transportation"
          data-filter="category"
        />
        Transportation
      </label>
      <label for="Education">
        <input
          (click)="handleChangeInput($event)"
          type="checkbox"
          id="Education"
          value="Education"
          data-filter="category"
        />
        Education
      </label>
      <label for="Food">
        <input
          (click)="handleChangeInput($event)"
          type="checkbox"
          id="Food"
          value="Food"
          data-filter="category"
        />
        Food
      </label>
      <label for="Utilities">
        <input
          (click)="handleChangeInput($event)"
          type="checkbox"
          id="Utilities"
          value="Utilities"
          data-filter="category"
        />
        Utilities
      </label>
      <label for="Entertainment">
        <input
          (click)="handleChangeInput($event)"
          type="checkbox"
          id="Entertainment"
          value="Entertainment"
          data-filter="category"
        />
        Entertainment
      </label>
      <label for="Other">
        <input
          (click)="handleChangeInput($event)"
          type="checkbox"
          id="Other"
          value="Other"
          data-filter="category"
        />
        Other
      </label>
    </div>

    <h2>Amount</h2>
    <div class="amount-section">
      <div>
        <label>MIN</label>
        <input
          type="number"
          value="0"
          (input)="handleMonto($event)"
          min="0"
          name="min"
          [(ngModel)]="filterApplieds.amount.min"
          data-filter="amount"
        />
      </div>
      <div>
        <label>MAX</label>
        <input
          type="number"
          value="4000"
          name="max"
          (input)="handleMonto($event)"
          [(ngModel)]="filterApplieds.amount.max"
          data-filter="amount"
        />
      </div>
    </div>

    <h2>Date</h2>
    <div class="amount-section">
      <div>
        <label>FROM</label>
        <input
          type="date"
          (input)="handleFecha()"
          [(ngModel)]="filterApplieds.date.minD"
        />
      </div>
      <div>
        <label>TO</label>
        <input
          type="date"
          (input)="handleFecha()"
          [(ngModel)]="filterApplieds.date.maxD"
        />
      </div>
    </div>
  </div>

  <div class="gastos">
    <div *ngFor="let transaction of transactionsRender">
      <app-cuentas
        [indice]="transaction.date"
        [fecha1]="transaction.date"
        [fecha2]="transaction.date"
        [cantidad]="transaction.total"
      ></app-cuentas>
      <div *ngFor="let transac of transaction.transacs">
        <app-ingresos
          [cantidad]="transac.amount"
          [name]="transac.name"
          [icon]="transac.icon"
          [color]="transac.color"
          [notas]="transac.notes"
        ></app-ingresos>
      </div>
    </div>
  </div>
</div>
