<article [ngClass]="stringOpen" (click)="closeModal()">
  <div ngClass="modal-container" (click)="handleModalContainerClick($event)">
    <button ngClass="modal-close" (click)="closeModal()">X</button>

    <div class="popup-content">
      <form>
        <div class="popup-header">
          <h2 class="mb-3">New Transaction</h2>
          <button type="button" class="btn-close mb-3"></button>
        </div>
        <div class="popup-body">
          <!-- <label for="name" class="text-uppercase">Name</label>
          <input
            type="number"
            name="amount"
            placeholder="Tu monto"
            [(ngModel)]="category.monto"
          /> -->
          <label for="name" class="text-uppercase">Amount</label>
          <input
            type="text"
            name="name"
            placeholder="Tu categoria"
            [(ngModel)]="transaction.amount"
          />
          <p class="text-uppercase mb-2">Color</p>

          <div class="paleta">
            <div *ngFor="let color of colors">
              <button
                class="circle-color"
                [ngStyle]="{ 'background-color': color }"
              ></button>
            </div>
          </div>
          <p class="text-uppercase mt-4 mb-2">Icon</p>

          <div class="icons">
            <div *ngFor="let icon of icons; let i = index">
              <button class="circle-icon" (click)="addCategoria(icon)">
                <i [ngClass]="icon" [ngStyle]="{ color: colors[i] }"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="popup-footer">
          <button (click)="addTransaction()">Create</button>
        </div>
      </form>
    </div>
  </div>
</article>
